{% extends 'myapp/base.html' %}
{% block content %}
<div class="grid p-10 grid-cols-1 lg:grid-cols-3 sm:grid-cols-1">
    <div class="rounded shadow-lg">
        <div>
            <h1>
                
                <img class="h-48" src="{{user.profile.image.url}}" alt="">
                <div class="font-semibold text-md py-1">Contact : <span class="">{{user.profile.contact_number}}</span></div>
            </h1>
        </div>
<div class="font-bold text-2xl mb-3">
    {{user.username}}
</div>
    </div>

</div>
{% endblock %}